{% extends "layout.html" %}

{% block body %}


<div class="row">

   <div class="col-md-8" style="margin: auto;">

       <div class="card">
           <div class="card-body">
               <form action="{% url 'hobby:add_hobby_url' %}" method="post" class="row g-3">
                  {% csrf_token %}
                  {{form}}
                  {% comment %} <label for="exampleFormControlInput1" class="form-label">Add Hobby </label>
                  <input type="text" class="form-control" name='hobby' id="exampleFormControlInput1" placeholder="New hobby"> {% endcomment %}
                
                  <div class="col-auto">
                     <button type="submit" class="btn btn-primary mb-3">ADD NEW HOBBY</button>
                   </div>
                 

               </form>

           </div>
       </div>



   </div>
</div>

{% endblock  %}